name: Run Terraform Checks
on:
  pull_request:
jobs:
  terraform-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      - uses: nationalarchives/tdr-github-actions/.github/actions/run-git-secrets@63eaeb7a4c65080f2a36ac88693fce04005c5a98
      - uses: nationalarchives/tdr-github-actions/.github/actions/slack-send@63eaeb7a4c65080f2a36ac88693fce04005c5a98
        if: failure()
        with:
          message: ":warning: Secrets found in repository da-terraform-modules"
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
      - name: Terraform Format
        id: fmt
        run: terraform fmt -check --recursive
