name: Run Terraform Checks
on:
  pull_request:
jobs:
  terraform-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      - uses: nationalarchives/tdr-github-actions/.github/actions/run-git-secrets@5d4fee21ed08f053613a7706e28623c0adc0f5f4
      - uses: nationalarchives/tdr-github-actions/.github/actions/slack-send@5d4fee21ed08f053613a7706e28623c0adc0f5f4
        if: failure()
        with:
          message: ":warning: Secrets found in repository da-terraform-modules"
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
      - name: Terraform Format
        id: fmt
        run: terraform fmt -check --recursive
